:root {
    /* Color defenitions */
    --background: #2C3E50;
    --red: #E74C3C;
    --yellow: #F1C40F;
    --green: #2ECC71;
    --blue: #3498DB;
    --red-clicked: #73261E;
    --yellow-clicked: #786207;
    --green-clicked: #176638;
    --blue-clicked: #1A4C6D;
    --btn-default: #34495E;
    --btn-clicked: #1ABC9C;
    --btn-disabled: #5E6D75;
    --score-outer: #1ABC9C;
    --score-inner: #34495E;
}

body {
    background-color: var(--background);
    color: white;
    font-family: 'Times New Roman', Arial, sans-serif;
    margin: 0;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sound-selector {
    display: flex;
    align-items: center; 
    gap: 5px;
    margin-top: 20px;
}

.dropdown-content {
    background: white;
}

.game-board {
    width: 37vw; /* 37% of viewport width */
    aspect-ratio: 1; /* Maintain square shape */
    margin: 17.5px auto 20px; /* Reduce bottom margin */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    position: relative;
}

.game-pad {
    width: 100%; /* Fill the grid cell */
    height: 100%; /* Fill the grid cell */
    border: none;
    border-radius: 15px;
}

#red { background-color: var(--red); }
#yellow { background-color: var(--yellow); }
#green { background-color: var(--green); }
#blue { background-color: var(--blue); }

#red:active { background-color: var(--red-clicked); }
#yellow:active { background-color: var(--yellow-clicked); }
#green:active { background-color: var(--green-clicked); }
#blue:active { background-color: var(--blue-clicked); }

.buttons {
    display: flex;
    gap: 5px;
    margin-top: 10px 0;
    justify-content: center;
    align-items: center;
}

.start-button, .replay-button {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--btn-default);
    color: white;
}

.start-button:active, .replay-button:active {
    background-color: var(--btn-clicked);
}

.replay-button[aria-disabled="true"] {
    background-color: var(--btn-disabled);
    color: #87929B;
}

.information-hover {
    position: relative;
    display: inline-block;
}

.info-icon {
    width: 16px;
    height: 16px;
}

.instructions {
    display: none;
    position: absolute;
    right: 0; /* align to the right */
    bottom: 0; /* align to the bottom */
    width: 200px;
    background-color: #34495E;
    color: white;
    padding: 15px;
    z-index: 1;
}

.information-hover:hover .instructions {
    display: block;
}
/* HERE NOW */

.high-score {
    margin-top: 25px;
    margin-bottom: 25px;
}

.error-message {
    display: none;
    text-align: center;
    position: fixed;
    top: 50%; /* vertically center the element */
    left: 50%; /* horizontally center the element */
    transform: translate(-50%, -50%); /* adjust position to truly center it */
}

.score-circle {
    position: absolute;
    width: 33%; /* relative to game board size */
    height: 33%; /* relative to game board size */
    top: 50%; /* vertically center the element */
    left: 50%; /* horizontally center the element */
    transform: translate(-50%, -50%); /* adjust position to truly center it */
}

.score-outer {
    background: var(--score-outer);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
}

.score-inner {
    background: var(--score-inner);
    width: 90%; /* Slightly smaller than outer circle */
    height: 90%; /* Slightly smaller than outer circle */
    border-radius: 50%;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
    color: white;
    font-size: 2vw; /* 2% of viewport width */
}

@media (max-width: 599.5px) { /* Correctly gets 600px to work and not 599 */
    body > *:not(.error-message) {
        display: none;
    }
    
    .error-message {
        display: block;
    }
}
